*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:#fff;
}

/* Navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:sticky;
top:0;
background:#0f172a;
z-index:1000;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

.menu-btn{
display:none;
font-size:25px;
cursor:pointer;
}

/* Hero */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:4rem;
}

.hero h2{
font-size:2rem;
margin:15px 0;
color:#38bdf8;
}

.hero p{
max-width:600px;
margin:auto;
line-height:1.8;
}

.hero span{
color:#38bdf8;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 35px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:8px;
}

/* Sections */

section{
padding:100px 10%;
}

.section-title{
font-size:2.5rem;
margin-bottom:50px;
text-align:center;
}

/* About */

.about-container{
max-width:800px;
margin:auto;
text-align:center;
line-height:2;
}

/* Skills */

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.skill-card{
padding:40px;
text-align:center;
background:#1e293b;
border-radius:15px;
transition:.3s;
}

.skill-card:hover{
transform:translateY(-10px);
}

.skill-card i{
font-size:70px;
margin-bottom:20px;
color:#38bdf8;
}

/* Projects */

.projects-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card{
padding:30px;
background:#1e293b;
border-radius:15px;
}

.project-card h3{
margin-bottom:15px;
}

/* Contact */

.contact-container{
text-align:center;
line-height:2;
}

footer{
padding:30px;
text-align:center;
background:#020617;
}

/* Mobile */

@media(max-width:768px){

nav ul{
display:none;
}

.menu-btn{
display:block;
}

.hero h1{
font-size:2.5rem;
}

.hero h2{
font-size:1.5rem;
}

}